.duration {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /*overflow: hidden;*/
}

.duration input,
.duration select {
    width: 4rem;
}

.durationInput {
    align-items: center;
    width: 45%;
    display: flex;
    flex-direction: row;
}

.durationInput p {
    text-align: center;
    width: 100%;
}

.durationInput select {
    width: 50%;
    min-width: 50%;
}

.dateTimeInput {
    width: 45%;
}

@media (max-width: 600px) {
    .duration,
    .inline {
        width: 100%;
        flex-direction: column;
    }
    .durationInput,
    .dateTimeInput {
        min-width: 100%;
        width: 100%;
    }
}